.back-button {

	padding-top: 1em;
	padding-left: 1em;

}



.container {

	padding-top: 1em;

}


#errorClass {
	
	border: 2px solid red;
}


.hide-report {

	display: none;
}



.Report-Title {

    margin: auto;
}




