.Report-Title {

    margin: auto;
}

#errorClass {
	-webkit-box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
	-moz-box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
	box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
}

.hide-report {

	display: none;
}
