.hide {

    display: none;
}

#hide {

    display: none;
}

.column {

	flex: 50%;
	text-align: center;


}

.enter {

    padding: 30px 0;

}


#errorClass {

	border: 2px solid red;
}


.popup {
    border: 2px solid #73AD21;
    background-color: rgba(0, 155, 83, 0.932);  
    color: white;
    position: relative;
    z-index: 1000;
    top: auto;
    left: auto;
    right: auto;
    text-align: center;
}  
  


.row {

	display: flex;

}


.Site {
    padding: 2em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 2em;
    border-style: solid;
}
  
.Site-content {
    flex: 1 0 auto;
}

#totals{

    margin-top: 20px;
}

.total-save {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}


.title{

    text-align: center;
}




