
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 2em;
}
  
.Site-content {
    flex: 1 0 auto;
}

.total-save {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}

