
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 2em;
}
  
.Site-content {
    flex: 1 0 auto;
}

.total-save {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}


.title{

    text-align: center;
}

#errorClass {
	-webkit-box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
	-moz-box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
	box-shadow: inset 0px 0px 29px 11px rgba(250,13,25,0.48);
}